Percabangan dan Perulangan

# Introduction to the if Statement

In [ ]:
if <expr>: #boolean text
    <statement>:

#jika <expr> benar(mengevaluasi ke nilai "truthy"), maka <statement> akan dieksekusi
#jika <expr> salah, maka <statement> dilewati / tidak dieksekusi

In [9]:
x = 0
y = 5

if x < y:
    print('yes')

if y < x:
    print('yes')

if x:
    print('yes')

if y:
    print('yes')

if 'aul' in 'grault':
    print('yes')

if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

In [10]:
#pernyataan majemuk if

if <expr>:
    <statement>
    <statement>
    ...
    <statement>
<following_statement>

SyntaxError: invalid syntax (2537442588.py, line 3)

In [11]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [1]:
# Does line execute?
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

# The else and elif Clauses

In [4]:
if <expr>:
    <statement(s)>
else:
    <statement(S)<
    
#jika <expr> benar, maka rangkaian pertama dijalankan dan rangkaian kedua dilewati begitu sebaliknya

SyntaxError: invalid syntax (2227887408.py, line 1)

In [5]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [11]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli Majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [15]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Keke':
    print('Hello Keke')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arya':
    print('Hello Arya')
else:
    print('I dont know who you are!')

Hello Hacktiv8

In [16]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This wont happen")
elif var:
    print("This wont either")

foo

# Python while Loops

In [3]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [5]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

# The Python Break and Continue Statements

In [1]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [3]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

# The else Clause

In [6]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2
1
0
Loop done.
4
3
2

In [2]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

# The Python for Loop

In [3]:
a = ['foo', 'bar', 'baz']
for i in a:
	print(i)

foo
bar
baz

In [7]:
d = {'foo': 1,  'bar': 2, 'baz': 3}
for k in d:
	print(k)

foo
bar
baz

In [8]:
for k in d:
	print(d[k])

1
2
3

In [9]:
for k in d.values():
	print(k)

1
2
3

In [10]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

# The range() Function

In [11]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

# The Break and Continue Statements

In [13]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [14]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

# The else Clause

In [15]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.') #will execute

foo
bar
baz
qux
Done.

In [16]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i) 
else: #klausa else tdk jalan krn terdapat break
    print('Done.') #will not execute

foo

In [21]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120c: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120c: 45F
Temperaturnya adalah 7 derajat

In [28]:
for i in range(20, 0, -3):
    print(i)

20
17
14
11
8
5
2

In [29]:
for i in range(1, 14, 1): #range(1,14,1)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13